@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
.cart {
  padding: 0 8em;
  font-family: 'Spartan', sans-serif;
  & h3 {
    font-weight: bolder;
  }
}

.cart-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.checkout-button {
  text-align: right;
}
.cart-item {
  display: flex;
  .cart-product-detail {
    margin-left: 50px;
  }
}

.cart-edit {
  display: flex;
  & div {
    display: flex;
    align-items: center;
  }
}

.StripeCheckout{
  margin-bottom:44px;
}