@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
.ProductsUl{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
}

.ProductImg{
    width: 20em;

}
.ProductListItem{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: #92a8d1;
    margin: 5em;

    flex-wrap: wrap;
   
}
.ProductsUl li{
    display: flex;
    flex-direction: column;
}

.add-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// .ProductName{
//     font-size: 22px
// }
.instock{
font-size: 25;
padding: 0.5em;
}
.ProductPrice{
    font-size: 20px;
    padding: 0.2em;
}
.AddCartBtn{
    font-size: 15px;
    color: white;
    width: 100%;
    background-color: #17356fe0;
    border: 1px solid white;
}

.AddDetailsCon{
    display: flex;
}
.ProductUlCon{
    display: flex;
    flex-direction: column;
}

.ant-btn.addbtn:hover{
   background-color: #d9d9d9;
   color: white;
   border-color: black;
}

.ant-btn.AddCartBtn:hover{
    background-color: #d9d9d9;
    color: white;
    border-color: black;
 }
