@import '~antd/dist/antd.css';
.ant-icon {
  font-size: 27px;
  cursor: pointer;
  padding: 0.6rem;
  color: aqua;
}

.forms {
  display: flex;
  justify-content: space-between;

}

.search {
  width: 295px;
}

.search-text {
  padding: 0.7em;
  border-radius: 9px;
  margin-bottom: 10px;
}


.search-text:focus {
  outline: 0;
}

.search-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
  
.items-in-cart {
  margin-top: 0.8em;
}


