@import '~antd/dist/antd.css';
.ant-icon {
  font-size: 27px;
  cursor: pointer;
  padding: 0.6rem;
  color: aqua;
}

.forms {
  display: flex;
  justify-content: space-between;

}

.search {
  size: 15px;
  display: flex;
  width: 236px;
  // justify-content: space-between;
}


.search-icon {
  font-size: 1rem;
  cursor: pointer;
}
  
.items-in-cart {
  margin-top: 0.8em;
}


