.admin-list {
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  font-family: "Spartan", sans-serif;
}

.admin-dashboard {
color:darkslategray;
}

.stock-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

