@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Syncopate:wght@700&display=swap');
.ant-form{
   margin-left: 230px;
   margin-right: 230px;
}

.admintitle{
    margin-top: 100px;
    font-family: 'Syncopate', sans-serif;
    padding: 1em;
}

.changeTheme{
    font-size: 20px;
    margin-top: 115px;
    font-family: 'Syncopate', sans-serif;
    padding: 1em;
}
.dashheader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}